<script>
  // 使用 fetch 取得資料
  fetch(`/users/${userId}/followings/api`)
    .then(response => response.json())
    .then(data => {
      // 將資料渲染到網頁上
      const followingsContainer = document.getElementById(
        'followings-container'
      )
      data.forEach(user => {
        const userElement = createUserElement(user)
        followingsContainer.appendChild(userElement)
      })
    })
    .catch(error => {
      console.error('Error:', error)
    })

  // 建立使用者元素
  function createUserElement(user) {
    const userElement = document.createElement('div')
    userElement.className = 'd-flex each-tweet'

    const tweetIcon = document.createElement('div')
    tweetIcon.id = 'tweet-icon'
    const tweetIconLink = document.createElement('a')
    tweetIconLink.href = `/users/${user.id}/tweets`
    const tweetIconImg = document.createElement('img')
    tweetIconImg.src = user.avatar
    tweetIconImg.alt = ''
    tweetIconImg.width = 50
    tweetIconImg.height = 50
    tweetIconImg.className = 'rounded-circle'
    tweetIconLink.appendChild(tweetIconImg)
    tweetIcon.appendChild(tweetIconLink)
    userElement.appendChild(tweetIcon)

    const tweetRight = document.createElement('div')
    tweetRight.id = 'tweet-right'
    tweetRight.style.width = '528px'
    const header = document.createElement('div')
    header.className = 'header d-flex justify-content-between'
    const nameSpan = document.createElement('span')
    nameSpan.style.fontSize = '16px'
    nameSpan.style.lineHeight = '26px'
    nameSpan.style.fontWeight = '700'
    nameSpan.style.color = '#171725'
    nameSpan.textContent = user.name
    header.appendChild(nameSpan)

    const form = document.createElement('form')
    form.action = user.is_following
      ? `/followships/${user.id}?_method=DELETE`
      : '/followships'
    form.method = 'POST'
    form.style.display = 'contents'

    const input = document.createElement('input')
    input.type = 'text'
    input.name = 'id'
    input.value = user.id
    input.style.display = 'none'

    const button = document.createElement('button')
    button.type = 'submit'
    button.className = user.is_following ? 'following-btn' : 'follow-btn'
    button.textContent = user.is_following ? '正在跟隨' : '跟隨'

    form.appendChild(input)
    form.appendChild(button)
    header.appendChild(form)
    tweetRight.appendChild(header)

    const contentWord = document.createElement('div')
    contentWord.className = 'content-word'
    contentWord.style.margin = '0'
    contentWord.textContent = user.bio

    tweetRight.appendChild(contentWord)
    userElement.appendChild(tweetRight)

    return userElement
  }
</script>
