<header class="p-3 mb-3 border-bottom fixed-top">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
        <img id="logo" src="/images/icons/logo.png">
      </a>
      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 ms-lg-auto">

      </form>
      <ul class="nav col-12 col-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/home" class="nav-link px-3 link-secondary">Home</a></li>
        <li><a href="/chats" class="nav-link px-3 link-dark">Messages</a></li>
        <li><a href="/users/{{user.id}}/followings" class="nav-link px-3 link-dark">Follows</a></li>
      </ul>

      <div class="dropdown text-end">
        <a href="/users/{{user.id}}/profile" class="d-block link-dark text-decoration-none dropdown-toggle"
          id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="{{user.avatar}}" width="32" height="32" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
          <li><a class="dropdown-item" href="/users/{{user.id}}/profile">Profile</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="/users/logout" onclick="logout()">Sign out</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
<div class="below-header">
<div style="height: 85px; background:white"></div>