<div style="height: 1200px; width: 427px">
  <div class="popular-container">
    <div class="popular-title">
      <h4>Connect with Others</h4>
    </div>
    <div class="tweets-mid" >
      <ul class="popular-list-group" style="display: inline"></ul>
    </div>
  </div>
</div>

<script src="/javascripts/popular.js"></script>