<style>
  div {
    display: block;
  }

  .left-panel {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 260px;
    overflow-x: hidden;
    background-color: #3f0e40;
    color: white;
  }

  .chat-user {
    padding: 10px;
  }

  .description {
    display: inline-block;
  }

  .right-panel {
    margin-left: 260px;
  }

  .chat-header {
    line-height: 40px;
    padding: 10px 20px;
    border-bottom: 1px solid #dddddd;
  }

  .messages {
    margin: 0;
    padding: 20px;
  }

  ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }

  .message {
    list-style: none;
  }

  li {
    display: list-item;
    text-align: -webkit-match-parent;
  }
</style>

<div class="chatroom-container">
  <div class="left-panel">
    <div class="chat-user">
      <div class="description">
        <div class="chat-name">Wayne</div>
      </div>
    </div>
    <div class="chat-user">
      <div class="description">
        <div class="chat-name">wdfew</div>
      </div>
    </div>
  </div>
  <div class="right-panel">
    <div class="chat-header">ewgweg</div>
    <ul class="messages">
      <li class="message">hey</li>
      <li class="message">you</li>
      <li class="message">mr.q</li>
    </ul>
    <form id="form" action="">
      <input id="input" placeholder="Message" autocomplete="off" />
      <button type="submit">Send</button>
    </form>
  </div>
</div>
