<div class="d-flex" style="height: 1200px;width:1400px;margin: 0 auto;">
  {{>sidebar route="home"}}
  <div class="tweets-mid"
    style="width:641px;height: 1200px;border-left: 1px solid #e6ecf0; border-right: 1px solid #e6ecf0;">
    {{>index}}
  </div>
  {{>popular}}
</div>

{{!-- 這是推文modal --}}
{{>post-modal}}

<script>
  const stars = document.querySelectorAll('.star')

  stars.forEach(star => {
    star.addEventListener('click', () => {
      const rating = star.getAttribute('data-rating')
      const ratingContainer = star.parentNode
      const tweetId = ratingContainer.id.split('-')[1]
      sendRatingToServer(rating, tweetId)
    })

    star.addEventListener('contextmenu', event => {
      event.preventDefault(); // 阻止右鍵選單顯示
      const ratingContainer = star.parentNode;
      const tweetId = ratingContainer.id.split('-')[1];
      clearRating(tweetId);
    });
  })

  // 在頁面載入時獲取評分並顯示
  getRatingsFromServer()

  function getRatingsFromServer() {
    const ratingContainers = document.querySelectorAll('.rating')
    ratingContainers.forEach(ratingContainer => {
      const tweetId = ratingContainer.id.split('-')[1]
      const url = `/tweets/${tweetId}/rating`
      fetch(url)
        .then(response => response.json())
        .then(data => {
          const rating = data.rating
          highlightStars(tweetId, rating)
        })
        .catch(error => {
          console.log('getRatingsFromServer error')
        })
    })
  }

  function highlightStars(tweetId, rating) {
    const tweetRatingContainer = document.querySelector(`#rating-${tweetId}`)
    const tweetStars = tweetRatingContainer.querySelectorAll('.star')
    if (rating === null) {
      tweetStars.forEach(star => {
        star.innerHTML = '&#9734;' // 空心星星
      })
    } else {
      tweetStars.forEach((star, index) => {
        if (index < rating) {
          star.innerHTML = '&#9733;' // 實心星星
        } else {
          star.innerHTML = '&#9734;' // 空心星星
        }
      })
    }
  }

  function sendRatingToServer(rating, tweetId) {
    const url = `/tweets/${tweetId}/rating`
    fetch(url, {
      method: 'POST',
      body: JSON.stringify({ rating: rating }),
      headers: {
        'Content-Type': 'application/json',
      },
    })
      .then(response => {
        getRatingsFromServer();
      })
      .catch(error => {
        console.log('sendRatingToServer error')
      });
  }

  function clearRating(tweetId) {
    const url = `/tweets/${tweetId}/clearrating`;
    fetch(url, {
      method: 'DELETE',
      headers: {
        'Content-Type': 'application/json',
      },
    })
      .then(response => {
        getRatingsFromServer();
      })
      .catch(error => {
        console.log('clearRating error');
      });
  }
</script>